{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="a_propos">
	<div class="titre"><strong>Qui sommes nous?</strong></div>
	<p>Nous sommes trois étudiants en informatique de l'ISEN Lille. Nous avons développé ce site web afin de permettre et faciliser la réalisation de projets et les relations clients, professionnel, prestataire.</p>
	<div class="titre"><strong>Comment ça fonctionne?</strong></div>
	<p>Lorsqu'un Client ou qu'un Professionnel souhaite créer un projet de construction, ils peuvent utiliser notre site internet afin <strong>d'échanger des documents</strong>, <strong>gérer le planning</strong> et <strong>suivre l'avancée du projet</strong> chaque jour de manière facile.</p>
	<p>Il est possible de <strong>créer un projet</strong> sur la page /connected, après s'être <strong>identifié</strong> . Une fois le projet accepté, les participants peuvent <strong>ouvrir la page du projet</strong> depuis la page /connected et ainsi commencer à partager des documents via le bouton 'Importer un document' en choisissant le type de fichier qui correspond. Les images et fichiers pdf sont visionnables sur la page du projet en cliquant sur le nom.</p>
	<p>Le Client et le Professionnel peuvent <strong>échanger sur le contrat</strong> avec le bouton dédié (le contrat est éditable par le Professionel mais visionnable par le Client).</p>
	<p>Le Professionnel peut ensuite <strong>ajouter un Prestataire</strong> (en ajoutant l'email avec lequel le Prestataire s'est enregistré sur le site) au projet qui aura à son tour accès aux documents déjà partagés.</p>
	<p>Le bouton Emploi du temps permet <strong>d'accéder au planning</strong>, modifiable par les 3 participants (Client, Professionnel et Prestataire), par exemple le Client peut ajouter une période de réservation. Ceci changera l'état du projet pendant la période sélectionnée. Cet ajout doit être validé par le Professionnel.</p>
	<p>Enfin pour faciliter la transmission de documents, <strong>une application mobile</strong> est disponible et permet d'ajouter des photos à vos projets depuis votre smarthphone, après s'être authentifié !</p>
	<div class="titre">Nous espérons que vous apprécierez l'expérience The Safe Deal !</div>
</div>

{% endblock %}
