{% load staticfiles %}
<html>
<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'css/connected.css' %}" />
		<script type="text/javascript" src="{% static 'js/display_form.js' %}"></script>	
        <title>Connexion</title>
</head>

<body>
<ul>
  <li><img src="{% static 'img/logo.jpg' %}" title="Deal With It"></li>
  <li><a href="{% url 'home' %}">Accueil</a></li>
  <li><a href="{% url 'about' %}">Qui sommes nous ?</a></li>
  {% if user.is_authenticated %}
   <li><a href="{% url 'connected' %}">Mes Projets {{ use }}</a></li>
  {% endif %}
  {% if not user.is_authenticated %}
  <li style="float:right;padding-right: 5px"><a class="active" href="{% url 'login' %}">Se Connecter</a></li>
  <li style="float:right;padding-right: 5px"><a class="active" href="{% url 'register' %}">Créer un Compte</a></li>
  {% endif %}
  {% if user.is_authenticated %}
  <li style="float:right;padding-right: 5px"><a class="active" href="{% url 'logout' %}">Se Deconnecter</a></li>
  {% endif %}
</ul>

{% if user.is_authenticated %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
            <strong>{{ error|escape }}</strong>
    {% endfor %}
{% endif %}

{% if error %}
<strong>{{ error }} </strong>
{% endif %}

<div style="background-color: white;height: auto;padding-left: 30px;padding-top: 20px">
	<img src="{% static 'img/new_project.jpg' %}" class="new_project" onclick="display_form()"/>
</div>

{% if unvalidated_projects|length != 0 %}
<hr>
<div class="projet">
	<img src="{% static 'img/waiting_project.jpg' %}" class="waiting_project"/>
	<table>
		<tr>
	     <td></td>
	     <th>Client</th>
	     <th>Prestataire</th>
	     <th>Professionnel</th>
	     <th>Prix (€)</th>
	     <th>Début</th>
	     <th>Fin estimée</th>
	    </tr>
		<tr>
		{% for projet in unvalidated_projects %}
    		<th title={{ projet.description }}>{{ projet.titre }}</th>
	     	<td>{{ projet.client }}</td>
	     	<td>{{ projet.prestataire }}</td>
	     	<td>{{ projet.professionnel }}</td>
	     	<td>{{ projet.prix }}</td>
	     	<td>{{ projet.date_debut|date:"d M Y" }}</td>
	     	<td>{{ projet.date_fin|date:"d M Y" }}</td>
	     	<td><a href="{% url 'connected' %}?key={{ projet.key }}&validate=True"><img src="{% static 'img/accepter.jpg' %}"/></a></td>
	     	<td><a href="{% url 'connected' %}?key={{ projet.key }}&validate=False"><img src="{% static 'img/refuser.jpg' %}"/></a></td>
	    </tr>
		{% endfor %}
	     
	</table>
</div>
{% endif %}
{% if unvalidated_projects|length == 0 %}
<strong>Vous n'avez aucun projet en attente de validation</strong>
{% endif %}


{% if validated_projects|length != 0 %}
<hr>
<div class="projet">
	<img src="{% static 'img/your_projects.jpg' %}" class="waiting_project"/>

	<table>
		<tr>
	     <td></td>
	     <th>Client</th>
	     <th>Prestataire</th>
	     <th>Professionnel</th>
	     <th>Prix (€)</th>
	     <th>Début</th>
	     <th>Fin estimée</th>
	    </tr>
		
		{% for projet in validated_projects %}
		<tr>
	     <th title={{ projet.description }}>{{ projet.titre }}</th>
	     <td>{{ projet.client }}</td>
	     <td>{{ projet.prestataire }}</td>
	     <td>{{ projet.professionnel }}</td>
	     <td>{{ projet.prix }}</td>
	     <td>{{ projet.date_debut|date:"d M Y" }}</td>
	     <td>{{ projet.date_fin|date:"d M Y" }}</td>
	     <td><a href="../projets/{{ projet.key }}" target="_blank"><img src="{% static 'img/open.jpg' %}" title="Ouvrir la page du projet" class="open"/></a>
	     </td>
	    {% endfor %}

	</table>
</div>

<br />
{% endif %}
{% if validated_projects|length == 0 %}
<strong>Vous n'avez aucun projet</strong>
{% endif %}

<!-- CI DESSOUS LE CADRE A AFFICHER POUR CREER UN NOUVEAU PROJET -->

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="{% url 'connected' %}" method="post">
	{% csrf_token %}
    <div class="container">

      <label><b>Titre du projet</b></label>
      <input type="text" placeholder="Entrer le Titre" name="titre" required>

      <label><b>Client (Optionnel)</b></label>
      <input type="email" placeholder="Entrer l'adresse email du Client" name="client">

      <label><b>Prestataire</b></label>
      <input type="email" placeholder="Entrer l'adresse email du Prestataire" name="prestataire" required>

      <label><b>Professionnel</b></label>
      <input type="email" placeholder="Entrer l'adresse email du Professionnel" name="professionnel" required>

      <label><b>Description</b></label>
      <input type="text" placeholder="Décrivez le but du projet..." name="description" style="padding-bottom: 30px" required>

	  <label><b>Prix (€)</b></label>
      <input type="number" value="1" min="0" name="prix" style="margin-bottom: 10px" required>

      <br />

      <label><b>Date de fin estimée</b></label>
      <input type="date" name="date_fin" required>
        
      <button type="submit" name="creer_project">Créer projet</button>
    </div>
  </form>
</div>

{% endif %}

{% if not user.is_authenticated %}
<p>Veuillez vous connecter pour voir vos projets</p>
{% endif %}

<div class="footer">
  <p>#ISEN2017</p>
</div>
</html>