{% extends 'base.html' %}

{% load static %}

{% block content %}


	{{ addContract }}
	
	
<form method="POST" class="post-form">
	{% csrf_token %}

	{{ contract.title }}
	{{ contract.text }}
	{{ contract.created_date}}
	<button type="submit" name="delete" class="save btn btn-default">Delete</button>
	{% if form != Null %}
		<h1>New contract</h1>	
		{{ form }}
		<button type="submit" name="new" class="save btn btn-default">Save</button>
		
	{% endif %}
	{% if save == "True" %}
		<button type="submit" name="edit" class="save btn btn-default">Edit</button>
	{% endif %}
	{% if save == "False" %}
		<button type="submit" name="edit" class="save btn btn-default">Save</button>
	{% endif %}
	
</form>
{% endblock %}