{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<table>
	{{ valide }}
	{% if user.is_authenticated %}
		{% if not user.typeUser == 'Professionnel' %}
			{% if form != None %}
				<tr>
				 <th></th>
				 <th>Infos projet</th>
				</tr>
				<tr>
				 <th>Nom</th>
				 <td>{{ form.titre }}</td>
				</tr>
				<tr>
				 <th>Client</th>
				 <td>{{ nameClient }}</td>
				</tr>
				<tr>
				 <th>Professionnel</th>
				 <td>{{ nameProfessionnel }}</td>
				</tr>
				<tr>
				 <th>Prestataire</th>
				 <td>{{ namePrestataire }}</td>
				</tr>
				<tr>
				 <th>Date début</th>
				 <td>{{ form.date_debut }}</td>
				</tr>
				<tr>
				 <th>Date fin</th>
				 <td>{{ form.date_fin }}</td>
				</tr>
				<tr>
					<th>Description</th>
				 <td>{{ form.description }}</td>
				</tr>
			{% endif %}	
		{% endif %}
	{% endif %}
</table>
{% endblock %}