<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/login.css" />
        <title>Project</title>
</head>

<body>

<ul>
  <li><img src="../img/logo.jpg" title="Deal With It"></li>
  <li><a href="./home.html">Accueil</a></li>
  <li><a href="./about.html">Qui sommes nous ?</a></li>
  <li style="float:right"><a class="active" href="./login.html">Se Connecter</a></li>
</ul>

<table>
	<tr>
     <th></th>
     <th>Infos projet</th>
    </tr>
	<tr>
     <th>Nom</th>
     <td>Projet1</td>
    </tr>
    <tr>
     <th>Client</th>
     <td>Mr Barnabé</td>
    </tr>
    <tr>
     <th>Professionnel</th>
     <td>Mr Dupond</td>
    </tr>
    <tr>
     <th>Prestataire</th>
     <td>Mr Roche</td>
    </tr>
    <tr>
     <th>Date début</th>
     <td>21/12/2016</td>
    </tr>
  
</table>



<div class="footer">
  <p>#ISEN2017</p>
</div>

</html>