<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/login.css" />
        <script type="text/javascript" src="../javascript/script.js"></script>
        <title>Connexion</title>
</head>

<body>

<ul>
  <li><img src="../img/logo.jpg" title="Deal With It"></li>
  <li><a href="./home.html">Accueil</a></li>
  <li><a href="./about.html">Qui sommes nous ?</a></li>
  <li style="float:right"><a class="active" href="./login.html">Se Connecter</a></li>
</ul>

<form class="modal-content animate" action="/action_page.php">
    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Entrer Username" name="uname" required>

      <label><b>Mot de passe</b></label>
      <input type="password" placeholder="Entrer mot de passe" name="psw" required>

      <label><b>Répétez le mot de passe</b></label>
      <input type="password" placeholder="Répétez mot de passe" name="psw2" required>

      <label><b>Email</b></label>
      <input type="text" placeholder="Entrer Email" name="email" required>

      <label><b>Vous êtes un :</b></label>
      <select name="nom" size="1">
      <option>Prestataire
      <option>Professionnel
      <option>Client
      </select>
        
      <button onclick="return check_account();" type="submit">S'enregistrer</button>
    </div>
    <div class="text_end_form"><a href="./login.html">Déjà un compte ?</a></div>
</form>

<div class="footer">
  <p>#ISEN2017</p>
</div>

</html>
